.container{
    border: 1px solid rgb(132, 132, 132);
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.header-2{
    text-align: center;
}
.container p{
    padding-left: 2rem;
}